<div class="container">
  <div class="row col-xs-12">
    <form action="">
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="IngredientName">Name</label>
          <input type="text"
                 name="IngredientName"
                 id="IngredientName"
                 class="form-control"
                 placeholder="Apple"
                 aria-describedby="helpId">
          <small id="helpId"
                 class="text-muted">ingredient name here</small>
        </div>
        <div class="form-group col-sm-3">
          <label for="IngredientQuantity">Qty</label>
          <input type="text"
                 name="IngredientQuantity"
                 id="IngredientQuantity"
                 class="form-control"
                 placeholder="1"
                 aria-describedby="helpId">
          <small id="helpId"
                 class="text-muted">ingredient quantity here</small>
        </div>
        <div class="form-group col-sm-2">
          <label for="IngredientUnit">Unit</label>
          <input type="text"
                 name="IngredientUnit"
                 id="IngredientUnit"
                 class="form-control"
                 placeholder="Kg"
                 aria-describedby="helpId">
          <small id="helpId"
                 class="text-muted">ingredient unit here</small>
        </div>
      </div>
      <div class="row">
        <div class="col-sx-12">
          <button class="btn btn-success m-1"
                  type="submit">Update</button>
          <button class="btn btn-danger m-1"
                  type="button">Delete</button>
          <button class="btn btn-primary m-1"
                  type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
